@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
  font-family: 'Noto Sans JP';
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Pacifico', cursive;
  }
  section {
    background: #2c3e50;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
